@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.max-w-1160 {
  max-width: 1160px !important;
}

.bg-blue {
  background-color: #1E71FF !important;
}

.header-heading {
  font-family: "Poppins", sans-serif;
  font-size: 75px;
  line-height: 128%;
  letter-spacing: -2%;
  max-width: 499px;
}

.header-para {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  line-height: 100%;
  letter-spacing: 0%;
  max-width: 315px;
}

.pt-20 {
  padding-top: 20px;
}

.header-try-btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 100%;
  padding: 16px 49.5px;
  border-radius: 48px;
  border: 1px solid #1E71FF;
  color: #1E71FF;
  transition: all 200ms linear;

}

.header-try-btn:hover {
  background-color: #1E71FF !important;
  color: white !important;
  border-color: white !important;
}

.header-demo-btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 100%;
  padding: 16px 41.5px;
  border-radius: 48px;
  border: 1px solid white;
  background-color: #1E71FF;
  transition: all 200ms linear;
}

.header-demo-btn:hover {
  background-color: white;
  color: #1E71FF !important;
}

.mt-60 {
  margin-top: 60px;
}

.gap-36 {
  gap: 36px;
}

.max-w-585 {
  max-width: 585px;
}

/* ----------------section-2------------------ */
.max-w-1060 {
  max-width: 1060px !important;
}

.instant-heading {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  line-height: 128%;
  text-align: center;
}

.instant-para {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 162%;
  text-align: center;
}

.max-w-566 {
  max-width: 566px;
}

.pt-30 {
  padding-top: 30px;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pt-60 {
  padding-top: 60px;
}

/* --------------------------- */
.max-w-816 {
  max-width: 816px;
}

.solution-main-img {
  left: 0;
}

.max-w-467 {
  max-width: 467px;
}

.solution-main-heading {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  line-height: 128%;
  letter-spacing: 0%;
}

.pl-100 {
  padding-left: 100px;
}

.max-w-465 {
  max-width: 465px;
}

.solution-para {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 162%;
}

.solution-try-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 100%;
  text-align: center;
  padding: 15.5px 45px;
  border-radius: 60px;
  border: 1px solid #1E71FF;
  background-color: #1E71FF;
  transition: all 200ms linear;
}

.solution-try-button:hover {
  background-color: white;
  color: #1E71FF !important;
}

.solution-get-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 100%;
  text-align: center;
  padding: 15.5px 39.5px;
  border-radius: 60px;
  color: #1E71FF;
  border: 1px solid #1E71FF;
  transition: all 200ms linear;
}

.solution-get-button:hover {
  color: white !important;
  background-color: #1E71FF !important;
}

.pt-42 {
  padding-top: 42px;
}

.gap-30 {
  gap: 30px;
}

.line {
  max-width: 167px;
  border: 1px solid #2B353E26;
}

.mt-90 {
  margin-top: 90px;
}

@media (max-width:991.98px) {
  .header-heading {
    max-width: unset;
  }

  .mt-60 {
    margin-top: 30px;
  }
}

@media (max-width:498.98px) {
  .header-heading {
    font-size: 50px;
  }

  .pt-20 {
    padding-top: 0;
  }

  .mb-30 {
    margin-bottom: 30px;
  }

  .gap-36 {
    gap: 20px;
  }

  .header-para {
    font-size: 20px;
  }

  .instant-heading {
    font-size: 29px;
  }

  .py-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .instant-para {
    font-size: 14px;
  }

  .pt-30 {
    padding-top: 0;
  }

  .pt-60 {
    padding-top: 20px;
  }
}